.cards {
  display: grid;
  width: max-content;

  margin: 5rem auto 0;
  grid-template-columns: repeat(2, 25rem);

  height: 60vh;
}

@media only screen and (max-width: 1225px) {
  .cards {
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .cards {
    height: 55vh;
  }
}

@media only screen and (max-width: 810px) {
  .cards {
    margin: 5rem 1rem 0;
  }
}

@media only screen and (max-width: 650px) {
  .cards {
    grid-template-columns: none;
    margin: 5rem auto 0;
    width: 90%;
  }
}
