* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-family: "Poppins";
  font-size: 0.9375em;
}

body {
  min-height: 100vh;
  background-color: var(--very-light-gray);

  display: grid;
  place-items: center center;
}

#team-builder {
  border-color: var(--red);
  transform: translate(50%, -15%);
}

#calculator {
  border-color: var(--blue);
  transform: translate(57%, 50%);
}

#supervisor {
  border-color: var(--cyan);
  transform: translate(-57%, -50%);
}

#karma {
  border-color: var(--orange);
  transform: translateX(-50%);
}

@media only screen and (max-width: 1225px) {
  #team-builder {
    transform: none;
  }

  #calculator {
    transform: none;
  }

  #supervisor {
    transform: none;
  }

  #karma {
    transform: none;
  }
}

@media only screen and (max-width: 395px) {
  html {
    font-size: 0.75em;
  }
}
